.container {
    background-color: antiquewhite;
    padding: 2em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border: 1px solid black;
}
.box {
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}