h1{
    color:antiquewhite;
    background-color: brown;
    padding: 5px;
    text-shadow: 1px 0px 5px white;
}

p{
    width: 60%;
    color: beige;
    background-color: #0c0c0c;
    padding: 10px;
    box-shadow: 5px 0px 5px black;
}

img{
    float: right;
    width: 4%;
    
}