<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Spring Boot</h1>
    <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, ipsam. Quod, ipsum voluptatem deleniti officiis vero consequatur natus autem tenetur ex sunt porro saepe error officia iure quibusdam fugit recusandae!</p>
    <img src="../../../../../../../../syed-jalal/Downloads/test.jpg" alt="">
</body>
</html>