.box{
    height: 100px;
    width: 100px;
    font-size: 6em;
    border-radius: 50%;
    color: white;
    background-color: aquamarine;
    text-shadow: 2px 2px 4px black;
    box-shadow: 5px 5px 15px grey;
    transition: transform 0.3s;
    text-align: center;
}
.box:hover {
    transform: scale(1.1);
}
#box1 {
    background-color: antiquewhite;
    background-image: url(monkey.png);
    background-size: cover;
}
#box2 {
    background-color: antiquewhite;
    background-image: url(elephant.png);
    background-size: cover;
}
#box3 {
    background-color: antiquewhite;
    background-image: url(ant.png);
    background-size: cover;
}
#box4 {
    background-color: antiquewhite;
    background-image: url(buffalo.png);
    background-size: cover;
}
#box5 {
    background-color: antiquewhite;
    background-image: url(donkey.png);
    background-size: cover;
}